Package: com.widepillar.patreonbypass
Name: PatreonBypass
Version: 1.0.0
Architecture: iphoneos-arm
Description: Bypasses Patreon DRM for YTLite
Maintainer: WidePillar
Author: WidePillar
Section: Tweaks
